body{
    background-image: url(zdjecia/Untitled.jpeg);
    background-size: 33cm;
}
.h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
